body{
    font-family: sans-serif;
}

#icontop{
    width: 55px;
    height: auto;
}

#pic{
    border-radius: 25px;
    width: 400px;
    margin-right: 25px;
    height: auto;

}
footer{
    position: relative;
    text-align: center;
    font-size: 18px;
    

}
#about {
    max-width: 900px;
    position: relative;
    padding: 50px;
    box-shadow: 0 0 1.2rem rgba(0,0,0,25);
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#skills{
    position: relative;
    padding: 50px;
    box-sizing: 900px;
}
footer{
    padding: 50px;
    color: #3498db;
    

}
#contact{
    padding: 30px;
    

}
#sizeicon{
    font-size: 25px;
    padding-right: 5px;


}